*{
    padding: 0;
    margin: 0;
}
.box{
    text-align: center;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 3rem;
    color: #CDF2CA;
}
form{
    margin: 5rem auto;
}
footer{
    text-align: center;
    height: 2em;
    margin: auto auto 3rem auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: #fff;
}